.w3-animate-top, .w3-animate-left{
  animation-duration: 1.5s !important;
}
.w3-animate-opacity{
  animation-duration: 2.5s !important;
}
.nar-broader{
  border-bottom:2px solid #6c6c6c3a;
}
.linear-gradient {
  opacity: 0.8; 
}
.fonts-family{
  font-family: 'Nunito Sans', sans-serif;
  font-size: medium;
}

.context-centered{

  margin: auto;
  width: 70%;
  /* border: 3px solid green; */
  padding: 10px;

}
.left-align{
  display:inline-block;
  text-align: left;
}



@media (min-width: 1200px) {

.round-image {
  border-radius: 50%; /* Makes the image round */
  width: 100%; /* Set the width as needed */
  height: 100%; /* Set the height as needed */
}
.square-image {
  width: 55%; /* Set the width as needed */
  height: 55%; /* Set the height as needed */
  object-fit: cover; /* Crops the image while maintaining aspect ratio */
}
.image{
  margin-top: 15%;
  text-align: center;
}



.item-size{
  font-size: medium;
}
.name-size{
font-size: large;
}
.contect-icon{
margin-left: 15%;
text-align: left;
width: 5%;
}
.icon-size{
font-size: 105%
}
.contect-text{
size: 180px;
float: right;
text-align: left;
font-size: medium;
}
.contact-container {
display: flex;
align-items:start;
gap:5%;
}





.blog-div{ 
  text-align:center;
  margin-right: 15%;
  height: fit-content;
}
.blog-test{
  height: fit-content;
  text-align:left;
  word-wrap: break-word;
  width: 100%
}

.centered {
  position: absolute;
  text-align: center;
  height: auto;
}
.left-div{
  justify-content: center;
  text-align: center;
  width: 25%; 
  top: 8.9%;
  border-right:2px solid  #6c6c6c3a;
  border-top:2px solid  #6c6c6c3a;
  display: flex;
  z-index: 1;
  height: 100%;
  align-self: start;
  position: fixed;
}
.right-div {
  margin-left:25%;
  justify-content: center;
  display: flex;
  z-index: 1;
  width: 75%; 
}
}

@media (max-width: 1200px) {
  .round-image {
    border-radius: 50%; /* Makes the image round */
    width: 100%; /* Set the width as needed */
    height: 100%; /* Set the height as needed */
  }
  .square-image {
    width: 55%; /* Set the width as needed */
    height: 55%; /* Set the height as needed */
    object-fit: cover; /* Crops the image while maintaining aspect ratio */
  }
  .image{
    margin-top: 15%;
    text-align: center;
  }
  

  .item-size{
    font-size: medium;
  }
  .name-size{
  font-size: large;
  }
  .contect-icon{
  margin-left: 15%;
  text-align: left;
  width: 5%;
  }
  .icon-size{
  font-size: 130%
  }
  .contect-text{
  size: 180px;
  float: right;
  text-align: left;
  font-size: medium;
  }
  .contact-container {
  display: flex;
  align-items:start;
  gap:5%;
  }

  .left-div {
    width: 100%; 
    padding-bottom: 20px; 
    justify-content: center;
    text-align: center;
    align-self: start;
   
  }
  .right-div {
    width: 100%; 
    margin-top: 100px; 
  }
  .square-image {
    width: 50%; 
    height: auto;
}

.blog-div{ 
  text-align:center;
  height: fit-content;
}
.blog-test{
  height: fit-content;
  text-align:left;
  word-wrap: break-word;
}

}