.linear-gradient {
    /* background: linear-gradient(to bottom,#d9dbe0, #ffffff);  */
    opacity: 0.8; /* Adjust the opacity value (0.7 here) for transparency */
}
.w3-animate-top, .w3-animate-left{
  animation-duration: 1.5s !important;
}
.w3-animate-opacity{
  animation-duration: 1s !important;
}
.nar-broader{
  border-bottom:2px solid #6c6c6c3a;
}
.fonts-family{
  font-family: 'Nunito Sans', sans-serif;
  font-size: medium;
}
.square-image {
  width: 80%; 
  height: 70%; 
  object-fit: cover;
}




.context-centered{
    margin: auto;
    width: 65%;
    border: 3px solid green;
    padding: 10px;

}
.left-align{
    display:inline-block;
    text-align: left;
}


@media (min-width: 1200px){
  .context-centered{
    margin:auto;
    width: 65%;
    padding: 10px;

}
.left-align{
    display:inline-block;
    text-align: left;
}
.square-image {
  width: 80%; 
  height: 70%; 
  object-fit: cover;
}



}

@media (max-width: 1200px) {
  .context-centered{
    margin: auto;
    width: 80%;
    /* border: 3px solid green; */
    padding: 10px;
}
.left-align{
    display:inline-block;
    text-align: left;
}
.square-image {
  width: 80%; 
  height: 70%; 
  object-fit: cover;
}

}